.App {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  align-items: center;
  font-family: 'Lora', serif;
  color: rgba(25,118,210,0.72);
}

.counterContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 400px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: whitesmoke;
  flex-wrap: wrap;
  /*border: 3px solid #6ce4f9;*/
}

.setContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 400px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
  flex-wrap: wrap;
}

.counterDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 90%;
  height: 50%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  font-size: 70px;
}

.setDisplay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 90%;
  height: 50%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  font-size: 20px;
  padding-left: 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.counterBtns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 30%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.setBtns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 30%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.colorRed {
  color: rgba(210,0,31,0.72);
}

.maxContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.minContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 3px;
  box-sizing: border-box;
}

.arrows {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.error {
  font-size: 24px;
}

.changeValueText {
  font-size: 20px;
}

.colorWhite {
  color: white;
}

@media screen and (min-width: 2550px) {
  .counterContainer {
    min-width: 600px;
    height: 500px;
  }
  .setContainer {
    min-width: 600px;
    height: 500px;
  }
  .maxContainer {
    width: 100%;
  }
  .minContainer {
    width: 100%;
  }
}